page-profile {
    .tabs-md .tabbar{
        background-color: color($colors, primary);
    }

    .tabs .tab-button-icon{
        color: white;
    }

    .tabs-md[tabsLayout=icon-top] .has-icon .tab-button-text {
        color: white;
    }

    .tabs-md .tab-button[aria-selected=true] .tab-button-icon {
        color: white;        
    }
}
