.hall-of-fame {
    background-image: url('../../assets/imgs/parking_background.jpg');
    background-repeat: no-repeat;
    background-size:cover;    
}

.hall-of-fame h2 {
    color: white;
}

.hall-of-fame .item {
    color: #1c8da0;
}