page-home {
    ion-list {
        padding-top: 15px;
    }

    .parking-spot-image {
        height: 100px;
        width: 100px;    
        margin: auto;
    }
    .parking-spot-header {
        background-color: #1c8da0;
        color: color($colors, light);        
    }
    
    .current-parking-spot {
        border: 1px solid color($colors, primary);        
        font-weight: bold;
        color: color($colors, secondary);
        font-size: 60px;        
    }

    .parking-spot-number {
        color: color($colors, secondary);
        font-weight: bold;
        padding-right: 15px;        
    }
    
    .no-parking-logo {
        height: 80px;        
    }
    
}
