<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title text-right>
      <img class="title-image" src='../../assets/imgs/logo_invert.png' />
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content [hidden]="!isPageReady" padding>
  <h1 text-center> Welcome, {{ loggedInUser?.firstName }} {{ loggedInUser?.lastName }}</h1>
  <br>
  <div *ngIf="!hasParkingSpot; else noParkingRightNow">
    <ion-list *ngIf="availableParkingSpotsToday?.length > 0; else noAvailableParkingSpotsForToday">
      <ion-list-header>
        Available parking spots (Today):
      </ion-list-header>
      <ion-item *ngFor="let parkingSpot of availableParkingSpotsToday">
        {{ parkingSpot.user?.firstName }} {{ parkingSpot.user?.lastName }}
        <div item-end>
          <div *ngIf="parkingSpot.userIdReplace == 0; else parkingTaken">
            <button ion-button color="secondary" (click)="takeParkingSpotToday(parkingSpot)" block full medium> Take</button>
          </div>

          <ng-template #parkingTaken padding>
            <i (click)="openModal({id: parkingSpot.replaceUser.id})"> {{ parkingSpot.replaceUser?.firstName }} {{ parkingSpot.replaceUser?.lastName }} </i>
            &nbsp;
            <span icon-start small *ngIf="parkingSpot.isLoggedInUser" (click)="releaseParkingSpotToday()">X</span>
          </ng-template>
        </div>
      </ion-item>
    </ion-list>
    <ng-template #noAvailableParkingSpotsForToday text-center padding>
      <p class="noParkingAvailable"> No available parking spots </p>
    </ng-template>
    <br>
    <ion-list *ngIf="availableParkingSpotsTomorrow?.length > 0; else noAvailableParkingSpotsForTomorrow">
        <ion-list-header>
          Available parking spots (Today):
        </ion-list-header>
        <ion-item *ngFor="let parkingSpot of availableParkingSpotsTomorrow">
          {{ parkingSpot.user?.firstName }} {{ parkingSpot.user?.lastName }}
          <div item-end>
            <div *ngIf="parkingSpot.userIdReplace == 0; else parkingTaken">
              <button ion-button color="secondary" (click)="takeParkingSpotTomorrow(parkingSpot)" block full medium> Take</button>
            </div>
  
            <ng-template #parkingTaken padding>
              <i (click)="openModal({id: parkingSpot.replaceUser.id})"> {{ parkingSpot.replaceUser?.firstName }} {{ parkingSpot.replaceUser?.lastName }} </i>
              &nbsp;
              <span icon-start small *ngIf="parkingSpot.isLoggedInUser" (click)="releaseParkingSpotTomorrow()">X</span>
            </ng-template>
          </div>
        </ion-item>
      </ion-list>
      <ng-template #noAvailableParkingSpotsForTomorrow text-center padding>
        <p class="noParkingAvailable"> No available parking spots </p>
      </ng-template>
  </div>

  <ng-template #noParkingRightNow>
      <div class="currentParkingSpot" *ngIf="hasParkingSpot" padding text-center>
        <h1>Parking spot:</h1>
        <span> {{ userParkingSpot.parkingSpotNumber }} </span>
      </div>
      <ion-item-divider></ion-item-divider>
      <h3>Not coming:</h3>
      <button ion-button color="primary" [disabled]="isWeekend('today') || disableTodayButton" (click)="releaseParkingSpotToday()"
        large block full> Today </button>
      <button ion-button color="secondary" [disabled]="isWeekend('tomorrow') || disableTomorrowButton" (click)="releaseParkingSpotTomorrow()"
        large block full> Tomorrow </button>
    </ng-template>

</ion-content>