page-home {
    .parking-spot-image {
        height: 100px;
        width: 100px;    
        margin: auto;
    }
    
    .parking-spot-header {
        background-color: #1c8da0;
        color: color($colors, light);        
    }
    
    .parkingTaken {
        color: color($colors, danger);                
        font-weight: bold;
        font-size: 15px;
        text-decoration: underline;
    }
    
    .currentParkingSpot {
        font-weight: bold;
        color: color($colors, primary);
        font-size: 60px;
    }

    .noParkingAvailable {
        color: color($colors, danger);
    }

}
