// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.loadingBackdrop {
    opacity: 1.0;
}

ion-spinner {
    width: 30px !important;
    height: 30px !important;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

.title-image {
    display:inline-block;     
    width: 10%;
    height: 10%;
}

.normalToast { 
    .toast-message {         
        background: color($colors, secondary);
        text-align: center;
    } 
}

.errorToast { 
    .toast-message {         
        background: color($colors, danger);
        text-align: center;
    } 
}

.warrningToastr {
    .toast-message {
        background: color($colors, warning);
        text-align: center;
    }
}

.text {
    font-size: 15px;
}

.menuBtn, .menuContent {
    background-color: color($colors, primary);    
  }

.navText {
    font-size: 20px;
    color: white;
}
.menuIcon {
    color: color($colors, dark);
}

ion-icon {
    font-size: 20px; //Preferred size here
}

.menuTitle {
    background-color: color($colors, primary);
}
