.parking-spot-header {
    background-color: color($colors, primary);
    color: color($colors, light);      

}

.currentParkingSpot {
    font-weight: bold;
    color: color($colors, primary);
    font-size: 60px;
}

.propName {
    font-weight: bold;
}

.parking-spot-header span {
    color: color($colors, light);
}