<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle icon-only>
            <ion-icon name='menu'></ion-icon>
        </button>
        <ion-title text-right>
            <img class="title-image" src='../../assets/imgs/logo_invert.png' />
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <h1 text-center>Impersonate</h1>
    <ion-item-divider></ion-item-divider>
    <ion-segment [(ngModel)]="segmentOptions">
        <ion-segment-button value="others">
            others
        </ion-segment-button>
        <ion-segment-button value="behalf">
            on behalf
        </ion-segment-button>
    </ion-segment>


    <div [ngSwitch]="segmentOptions">
        <ion-list *ngSwitchCase="'others'">
            <p>You can authorize other colleagues to manage your parking spot. Select colleague from dropdown menu that you
                want to grant rights to release your own parking spot</p>
            <ion-item>
                <ion-label>
                    <span text-center><ion-icon ios="ios-apps" md="md-apps"></ion-icon>&nbsp;&nbsp; Collegues</span>
                </ion-label>
                <ion-select [(ngModel)]="impersonatedUsers" okText="Save" cancelText="Dismiss" multiple="true" (ionChange)="updateImpersonateList()">
                    <ion-option *ngFor="let user of users" value="{{ user.id }}" selected="{{ user.isImpersonated }}">{{
                        user.firstName }} {{ user.lastName }}</ion-option>
                </ion-select>
            </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'behalf'">

            <form [formGroup]="releaseParkingForm" (ngSubmit)="onSubmit()">
                <ion-item *ngIf="showMessageForNoImpersonatedOnBehalf">
                    <button color="danger" *ngIf="true" ion-button full block outline>You aren't impersonated
                        by other collegues</button>
                </ion-item>
                <ion-item>
                    <ion-label>User</ion-label>
                    <ion-select formControlName="user" [formGroup]="releaseParkingForm">
                        <ion-option *ngFor="let user of impersonatedUsersOnBehalf" [value]="user.id">{{ user.firstName }}
                            {{ user.lastName }} </ion-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>Date</ion-label>
                    <ion-datetime displayFormat="MM/DD/YYYY" formControlName="date" [formGroup]="releaseParkingForm"></ion-datetime>
                </ion-item>
                <div padding>
                    <button type="submit" [disabled]="!releaseParkingForm.valid" ion-button color="primary" block full large>Release parking</button>
                </div>
            </form>
        </ion-list>

    </div>

</ion-content>